wgtpkg-installer
wgtpkg-pack
wgtpkg-sign
wgtpkg-info
*.o

.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
stamp-h1
configure
depcomp
install-sh
missing

UNPACK*/
PACK*/
TODO
a.pem
b.pem
ca-certificates/
certs/
old/
schemas/
tests-w3c/
tests/
tizen-certificates/
truc
*.wgt
wrt-widgets

