src/afm-user-daemon
wgtpkg-installer
wgtpkg-pack
wgtpkg-sign
wgtpkg-info
*.a

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

a.pem
b.pem
ca-certificates/
certs/
old/
root/
schemas/
tests-w3c/
tests/
tizen-certificates/
wrt-widgets

