[Unit]
Description=Initiate afm-user-session %i
Requires=systemd-user-sessions.service
After=systemd-user-sessions.service
Requires=afm-user-session@%i.target
Before=afm-user-session@%i.target
[Service]
PAMName=afm-user-session
User=%i
Type=simple
ExecStart=/bin/sleep 2147483648
