[Unit]
Description=Initiate afm-user-session %i
Requires=systemd-user-sessions.service
After=systemd-user-sessions.service
[Service]
User=%i
PAMName=afm-user-session
ExecStart=/usr/bin/afm-user-session
