[Unit]
Description=Setup completion of afm-user-session %i
Requires=afm-user-setup@%i.path
After=afm-user-setup@%i.path
Requires=afm-user-session@%i.service
After=afm-user-session@%i.service
Before=afm-user-session@%i.target
[Service]
User=%i
Type=oneshot
ExecStart=/bin/rm /run/user/%i/afm-user-started


