[Unit]
Description=Application Framework Master, system side

[Service]
BusName=org.AGL.afm.system
User=afm
Group=afm
ExecStart=/usr/bin/afm-system-daemon
Restart=on-failure
RestartSec=5
CapabilityBoundingSet=CAP_DAC_OVERRIDE CAP_MAC_OVERRIDE
SecureBits=keep-caps
Capabilities=cap_dac_override,cap_mac_override=i

[Install]
WantedBy=multi-user.target

